<% provide :title, t(:help) %>
<h1><%= t :help %></h1>
<p>
  <%= t(:content_p_help, link1: link_to(t(:a_href_help1), "http://www.railstutorial.org/help"),
  link2: link_to(t(:a_href_help2), "http://www.railstutorial.org/book")).html_safe %>
</p>
