<li>
  <%= gravatar_for user, size: Settings.size_gravatar %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(:delete), user, method: :delete,
      data: {confirm: t(:notify_confirm)} %>
  <% end %>
</li>
